# Node.js dependencies
node_modules/

# Build output
dist/

# Local environment variables
.env

# Cache files
.vite/
.vscode/
.DS_Store
Thumbs.db

# AWS Amplify local config
amplify/.config/local-*

# Optional: Lockfiles (keep only the one your package manager uses)
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?