.login-container {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/Capitol_Building.jpg") no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
}

.login {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}


#search_input {
    width: calc(100% - 120px);
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

#search_button {
    padding: 15px 25px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#search_button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 30px;
    text-align: left;
}

#results p {
    padding: 15px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 600px) {
    #search_input {
        width: calc(100% - 90px);
    }

    #search_button {
        padding: 10px 15px;
        font-size: 14px;
    }
}