.search-container {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/Capitol_Building.jpg") no-repeat center center fixed;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search-section {
  display: flex;
  width: 60%;
  max-width: 800px;
}

#search {
  width: 80vw;
}

#loading-section {
  color: #fff
}

.search-input {
  width: 100px;
  flex: 1;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
}

.search-button {
  padding: 15px 20px;
  font-size: 1.2rem;
  background-color: #2a6bbf;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1f4e87;
}

#error-loader {
  color: #fff;
  font-size: 1.2rem;
}

.footer  {
  padding: 5px 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

a.disabled {
  pointer-events: none;
  color: #ccc;
}

.result-item {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out;
  min-height: 80px; /* Ensure enough height for content */
  /* Removed position: relative to avoid styling issues */
}

.docket-icon {
  /* No longer using absolute positioning */
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 8px;
  margin-right: 8px;
}

.docket-icon:hover {
  transform: scale(1.2); /* Slight scale on hover for better user feedback */
}

/* Results container styling */
.results-container {
  position: absolute;
  top: 800px;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.results-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Add styles for the flex layout of result items */
.result-content {
  flex: 1;
}